.productCard {
  width: 300px;
  height: 346px;
  margin-right: 20px;
  list-style: none;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
}

.productCard figure {
  width: 300px;
  height: 150px;
  background-color: #f5f5f5;
  margin: 0;
}

.productCard figure img {
  width: 150px;
  height: 150px;
  margin: 0 75px;
}

.productCard h2 {
  width: 260px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  margin-left: 21px;
  color: #333333;
}

.productCard span {
  width: 200px;
  height: 16px;
  margin-left: 21px;
  font-size: 12px;
  color: #828282;
}

.productCard p {
  width: 100px;
  height: 24px;
  font-weight: 600;
  font-size: 14px;
  color: #27ae60;
  margin-left: 21px;
}

.productCard button {
  width: 107px;
  height: 40px;
  margin-left: 21px;
  border: 1px solid #93d7af;
  border-radius: 10px;
  background-color: #27ae60;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.productCard button:hover {
  cursor: pointer;
  background-color: #93d7af;
}

@media (min-width: 768px) {
  .productCard {
    margin-bottom: 25px;
  }
}
