.logo {
  padding-top: 5px;
}

.searchInput {
  width: 382px;
  height: 60px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  background-color: #fff;
}

.searchProduct {
  width: 240px;
  height: 50px;
  margin-top: 2.5px;
  margin-left: 14px;
  padding-left: 5px;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #e0e0e0;
}

.searchProduct:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.searchProduct::placeholder {
  color: #e0e0e0;
  padding-left: 2px;
}

.buttonSearch {
  width: 107px;
  height: 42px;
  margin-left: 5px;
  border: 1px solid #27ae60;
  border-radius: 10px;
  background-color: #27ae60;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 768px) {
  .logo {
    margin-left: 13vw;
  }

  .searchInput {
    width: 365px;
    margin-bottom: 0;
    margin-right: 10vw;
  }

  .searchProduct {
    width: 220px;
    height: 52px;
  }
}
